<!DOCTYPE html>
<html>
    <head>
        <title> The Solar System </title>
        <style>
            body {
                background-color: #CBE2F6;
                text-align: center;
                font-family: "Times New Roman", Times, serif;
            }
            #mer {
                font-size: larger;
                font-family: "Times New Roman", Times, serif;
            }
            
            #earth {
                font-size: larger;
                font-family: "Times New Roman", Times, serif;
            }
            
            #ven {
                font-size: larger;
                font-family: "Times New Roman", Times, serif;
            }
        </style>
    </head>
    <body>