<%- include('partials/header.ejs') %>

    <h1>Welcome to Earth</h1>
    <img src="/img/earth.jpg" alt="Earth" />
    
    <p id="earth">Earth is the third planet from the Sun and the only astronomical object known to harbor life. According to radiometric dating and other evidence, Earth formed over 4.5 billion years ago. Earth's gravity interacts with other objects in space, especially the Sun and the Moon, which is Earth's only natural satellite. Earth orbits around the Sun in 365.256 days, a period known as an Earth sidereal year.</p>
    
    <a href="/mercury">Mercury</a> <br>
    <a href="/venus">Venus</a> <br>
    <a href="/">Home</a> <br>
    <hr>
       &copy; 2019. <br/>
       Disclaimer: The information in this page might be innacurate.
<%- include('partials/footer.ejs') %>