<%- include('partials/header.ejs') %>

    <h1>Welcome to venus</h1>
    <img src="/img/venus.jpg" alt="Venus" />
    <p id="ven">Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the second-brightest natural object in the night sky after the Moon, Venus can cast shadows and, rarely, is visible to the naked eye in broad daylight.</p>
    <a href="/mercury">Mercury</a> <br>
    <a href="/">Home</a> <br>
    <a href="/earth">Earth</a> <br>
    <hr>
       &copy; 2019. <br/>
       Disclaimer: The information in this page might be innacurate.
<%- include('partials/footer.ejs') %>